@charset "UTF-8";
/*--- Reseteo ---*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

body {
  background-color: #cbe4de;
}

/*--- Navbar Header ---*/
.navbar {
  background-color: #cbe4de;
}
.navbar .nav-item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
}
.navbar .nav-item .nav-link {
  color: #444444;
  position: relative;
}
.navbar .nav-item .nav-link:after {
  content: "";
  width: 0;
  height: 4px;
  background-color: cadetblue;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}
.navbar .nav-item .nav-link:hover:after {
  width: 100%;
  right: 0;
}

/*--- Footer ---*/
.footer {
  background-color: #2c3333;
  color: white;
  font-weight: 600px;
}

/*--- Parte de Arriba Footer---*/
.footer-superior {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-superior .card-horario {
  padding: 3em;
}
.footer-superior .card-horario__titulo {
  text-align: center;
  font-size: 1em;
}
.footer-superior .card-horario__parrafo {
  text-align: center;
  font-size: 1em;
}
.footer-superior .card-contacto {
  padding: 3em;
}
.footer-superior .card-contacto__titulo {
  text-align: center;
}
.footer-superior .card-contacto__lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-superior .card-contacto__items {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  gap: 5px;
}

/*--- Barra separadora footer--- */
hr {
  border: 0.2em solid white;
}

/*--- Parte de abajo Footer---*/
.footer-inferior {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-inferior .card-navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 3em;
  gap: 20px;
}
.footer-inferior .card-navbar li a {
  color: white;
}
.footer-inferior .card-navbar li a:hover {
  color: rgb(66, 135, 192);
}
.footer-inferior .card-mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.footer-inferior .card-mapa__titulo {
  text-align: center;
}

.footer-copyright {
  text-align: center;
  color: #aaaaaa;
  padding-bottom: 1px;
}

/*--- Vista Desktop Footer ---*/
@media (min-width: 1200px) {
  .footer-superior {
    gap: 10em;
    font-size: 1.5em;
  }
  .footer-inferior {
    gap: 10em;
  }
  .card-navbar {
    font-size: 1.5em;
  }
  .card-mapa__contenido {
    width: 700px;
    height: 200px;
  }
}
/*--- SECCIÓN INDEX ---*/
/* ----Imagen central Index ---- */
.img-central-index {
  background-image: url(../images/imagen-central-index.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: initial;
}

/* ----Barra productos Index---- */
.card-productos {
  padding: 3.5em;
}
.card-productos__titulo-principal {
  text-align: center;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 2rem;
}
.card-productos__row {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}
.card-productos__row .card-productos__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  max-width: 1200px;
}
.card-productos__row .card-productos__items .card-productos__img {
  width: 100%;
}
.card-productos__row .card-productos__items .card-productos__titulo-items {
  font-size: 1.5rem;
}

/* ---SECCION MEDIOAMBIENTE Y ENTREGAS--- */
.card-medioambiente__img {
  width: 100%;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 30px;
}

h4 {
  padding: 1.5em;
}
h4 .card-medioambiente__parrafo {
  text-align: center;
  border: 0.1em solid #0b2a2c;
  border-width: auto;
  padding: 1.5em;
  font-size: 1.5rem;
}

.card-entregas__img {
  width: 100%;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 50px;
}

.card-entregas__parrafo {
  text-align: center;
  border: 0.1em solid #0b2a2c;
  border-width: auto;
  padding: 1.5em;
  font-size: 1.5rem;
}

/*--- Vista Desktop barra de productos del index ---*/
@media (min-width: 1200px) {
  .card-productos__titulo-principal {
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: 2.7rem;
  }
  .card-productos__row div {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-bottom: 5rem;
    padding-top: 3rem;
    max-width: 1300px;
  }
  .card-productos__row div .card-productos__items {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  .card-productos__row div .card-productos__items .card-productos__titulo-items {
    font-size: 1.5em;
  }
  .cards-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards-contenedor .cards {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    max-width: 1400px;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 50px;
  }
  .cards-contenedor .cards .card-medioambiente {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cards-contenedor .cards .card-medioambiente__estilos {
    display: flex;
    padding-top: 40px;
    max-height: 500px;
  }
  .cards-contenedor .cards .card-medioambiente__estilos__parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2em;
  }
  .cards-contenedor .cards .card-entregas {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cards-contenedor .cards .card-entregas__estilos {
    display: flex;
    padding-top: 40px;
    max-height: 1200px;
  }
  h4 .cards-contenedor .cards .card-entregas__estilos__parrafo {
    display: flex;
  }
}
/*--- SECCIÓN EMPRESA ---*/
/* ----Imagen central Empresa ---- */
.img-central-empresa {
  background-image: url(../images/imagen-central-empresa.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: initial;
}

/*--- Titulo sección empresa ---*/
.titulo-sobrenosotros {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 0.8em;
  font-size: 1.4rem;
}

/*--- Card logo empresa ---*/
.card-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.card-logo__img {
  border: solid 0.2em rgba(73, 73, 73, 0.74);
  border-radius: 200px;
}

/*--- Card sobre nosotros ---*/
.card-sobrenosotros {
  display: flex;
  text-align: center;
  margin: 3em;
}
.card-sobrenosotros__parrafo {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5em;
  background-color: rgba(255, 255, 255, 0.151);
  border: 0.1em solid #0b2a2c;
  border-radius: 50px;
  line-height: 2em;
}

/*--- Vista desktop de la sección empresa ---*/
@media (min-width: 1200px) {
  .titulo-sobrenosotros {
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: 1.4rem;
  }
  .card-logo {
    padding: 2.5em;
  }
  .card-sobrenosotros {
    display: flex;
    text-align: center;
    padding-left: 6em;
    padding-right: 6em;
  }
  .card-sobrenosotros__parrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2em;
  }
}
/*--- SECCIÓN PRODUCTOS ---*/
/*--- Titulo sección productos ---*/
.nuestros-productos {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #0e8388;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 35px;
  padding-top: 35px;
}

/*--- Container de los productos--- */
.container-productos {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 1em;
  padding-top: 3em;
}
.container-productos .card-lista {
  width: fit-content;
}
.container-productos .card-lista .list-group {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
}
.container-productos .container-articulos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3em;
  padding-left: 0.5em;
  padding-bottom: 5em;
}
.container-productos .container-articulos .card-articulo {
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.container-productos .container-articulos .card-articulo__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1em solid #0b2a2c;
  width: fit-content;
}
.container-productos .container-articulos .card-articulo__img__dimension {
  width: 250px;
  height: 200px;
}
.container-productos .container-articulos .card-articulo__parrafo {
  text-align: center;
  font-size: 1.2em;
}

/*--- Vista tablet de la sección productos ---*/
@media (min-width: 768px) {
  .container-productos {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 1em;
    padding-top: 3em;
  }
  .container-productos .list-group {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.8em;
    width: auto;
    padding-left: 1.8em;
  }
  .container-productos .container-articulos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }
  .container-productos .container-articulos .card-articulo {
    width: fit-content;
  }
  .container-productos .container-articulos .card-articulo__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-productos .container-articulos .card-articulo__parrafo {
    text-align: center;
    font-size: 1.4em;
    padding-top: 1em;
  }
}
/*--- Vista desktop de la sección productos ---*/
@media (min-width: 1200px) {
  .container-productos {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 1em;
    padding-top: 3em;
  }
  .container-productos .list-group {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.8em;
    width: auto;
    padding-left: 1.8em;
  }
  .container-productos .container-articulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    padding-left: 2em;
  }
  .container-productos .container-articulos .card-articulo {
    justify-content: center;
    align-items: center;
  }
  .container-productos .container-articulos .card-articulo__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-productos .container-articulos .card-articulo__parrafo {
    text-align: center;
    font-size: 1.4em;
    padding-top: 1em;
  }
}
/*--- SECCIÓN CONTACTO ---*/
/* ----Imagen central Contacto ---- */
.img-central-contacto {
  background-image: url(../images/imagen-central-contacto.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: initial;
}

/*---Titulo de la sección contacto ---*/
.form-contacto {
  width: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 5em;
  margin-bottom: 5em;
  border-radius: 7px;
}
.form-contacto .titulo-contacto {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 0.8em;
  font-size: 1.4rem;
  padding-bottom: 2em;
  color: black;
}
.form-contacto__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 1.1em;
}
.form-contacto__textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 1.1em;
  min-height: 150px;
  max-height: 250px;
  max-width: 100%;
}
.form-contacto__boton {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 1.1em;
  background: #31384A;
  color: #fff;
  padding: 20px;
  border: none;
}
.form-contacto__boton:hover {
  color: rgba(0, 162, 255, 0.384);
}

/*--- Vista Desktop de la sección contacto ---*/
@media (min-width: 1200px) {
  .form-contacto {
    max-width: 1200px;
  }
}
/*--- SECCIÓN PREGUNTAS FRECUENTES ---*/
/*--- Titulo de la sección preguntas frecuentes ---*/
.preguntas-frecuentes {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #0e8388;
  text-align: center;
  font-size: 3rem;
  margin-top: 2.5rem;
  padding-bottom: 50px;
  padding-top: 50px;
}

/*--- Tarjetas de preguntas ---*/
.card-preguntas {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 7rem;
}
.card-preguntas__1 {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  text-align: center;
  border: solid 0.1em black;
  border-radius: 15px;
}
.card-preguntas__1 h3 {
  font-size: 1.5em;
  padding: 0.4em;
}
.card-preguntas__1 p {
  font-size: 1em;
  padding: 1em;
}
.card-preguntas__2 {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  text-align: center;
  border: solid 0.1em black;
  border-radius: 15px;
}
.card-preguntas__2 h3 {
  font-size: 1.5em;
  padding: 0.4em;
}
.card-preguntas__2 p {
  font-size: 1em;
  padding: 1em;
}
.card-preguntas__3 {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  text-align: center;
  border: solid 0.1em black;
  border-radius: 15px;
}
.card-preguntas__3 h3 {
  font-size: 1.5em;
  padding: 0.4em;
}
.card-preguntas__3 p {
  font-size: 1em;
  padding: 1em;
}

/*--- Vista tablet de la sección preguntas frecuentes ---*/
@media (min-width: 768px) {
  .card-preguntas {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 5rem;
  }
  .card-preguntas__1 {
    font-family: "Source Sans Pro", sans-serif;
    background-color: white;
    text-align: center;
    border: solid 0.1em black;
    border-radius: 15px;
  }
  .card-preguntas__1 h3 {
    font-size: 4em;
    padding: 0.4em;
  }
  .card-preguntas__1 p {
    font-size: 2em;
    padding: 1em;
  }
  .card-preguntas__2 {
    font-family: "Source Sans Pro", sans-serif;
    background-color: white;
    text-align: center;
    border: solid 0.1em black;
    border-radius: 15px;
  }
  .card-preguntas__2 h3 {
    font-size: 4em;
    padding: 0.4em;
  }
  .card-preguntas__2 p {
    font-size: 2em;
    padding: 1em;
  }
  .card-preguntas__3 {
    font-family: "Source Sans Pro", sans-serif;
    background-color: white;
    text-align: center;
    border: solid 0.1em black;
    border-radius: 15px;
  }
  .card-preguntas__3 h3 {
    font-size: 4em;
    padding: 0.4em;
  }
  .card-preguntas__3 p {
    font-size: 2em;
    padding: 1em;
  }
}
/*--- Vista desktop de la sección preguntas frecuentes ---*/
@media (min-width: 1200px) {
  .contenedor-preguntas {
    display: flex;
    justify-content: center;
  }
  .contenedor-preguntas .card-preguntas {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin-top: 5em;
    gap: 5rem;
    max-width: 1350px;
  }
  .contenedor-preguntas .card-preguntas__1 {
    font-family: "Source Sans Pro", sans-serif;
    background-color: white;
    text-align: center;
    border: solid 0.1em black;
    border-radius: 15px;
  }
  .contenedor-preguntas .card-preguntas__1 h3 {
    font-size: 3.5em;
    padding: 0.4em;
  }
  .contenedor-preguntas .card-preguntas__1 p {
    font-size: 1.5em;
    padding: 1em;
  }
  .contenedor-preguntas .card-preguntas__2 {
    font-family: "Source Sans Pro", sans-serif;
    background-color: white;
    text-align: center;
    border: solid 0.1em black;
    border-radius: 15px;
  }
  .contenedor-preguntas .card-preguntas__2 h3 {
    font-size: 3.5em;
    padding: 0.4em;
  }
  .contenedor-preguntas .card-preguntas__2 p {
    font-size: 1.5em;
    padding: 1em;
  }
  .contenedor-preguntas .card-preguntas__3 {
    font-family: "Source Sans Pro", sans-serif;
    background-color: white;
    text-align: center;
    border: solid 0.1em black;
    border-radius: 15px;
  }
  .contenedor-preguntas .card-preguntas__3 h3 {
    font-size: 3.5em;
    padding: 0.4em;
  }
  .contenedor-preguntas .card-preguntas__3 p {
    font-size: 1.5em;
    padding: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
