/*--- SECCIÓN EMPRESA ---*/

/* ----Imagen central Empresa ---- */
.img-central-empresa {
    background-image: url(../images/imagen-central-empresa.jpg);
    @include preset-imagencentral
}

/*--- Titulo sección empresa ---*/

.titulo-sobrenosotros {
    @include titulo-seccion();
}

/*--- Card logo empresa ---*/

.card-logo {
    @include flex();
    padding: 1em;

    &__img {
        border: solid 0.2em rgba(73, 73, 73, 0.74);
        border-radius: 200px;
    }
}

/*--- Card sobre nosotros ---*/

.card-sobrenosotros {
    display: flex;
    text-align: center;
    margin: 3em;

    &__parrafo {
        font-size: 1.5rem;
        text-align: center;
        font-family: $fuente-principal;
        padding: 1.5em;
        background-color: rgba(255, 255, 255, 0.151);
        border: $borde-parrafos;
        border-radius: 50px;
        line-height: 2em;
    }
}

/*--- Vista desktop de la sección empresa ---*/

@media (min-width: 1200px) {
    .titulo-sobrenosotros {
        text-align: center;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        font-size: 1.4rem;
    }

    .card-logo {
        padding: 2.5em;
    }

    .card-sobrenosotros {
        display: flex;
        text-align: center;
        padding-left: 6em;
        padding-right: 6em;

        &__parrafo {
            @include flex();
            font-size: 2rem;
            line-height: 2em;
        }
    }
}