/* ----Imagen central Index ---- */

.seccion-img-central {
    background-image: url(../images/imagen-central-index.jpg);
    width: 100%;
    height: 40rem;
    background-size: cover;
}

/* ----Barra productos Index---- */

.titulo-productos-comercializados {
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: 1.4rem;
}

.fila-productos {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 40px;
}

.titulos-productos-filas {
    font-size: 1.5rem;
}

.container__img {
    width: 100%;
}

div .items-fila {
    display: flex;
}

.items-fila {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    max-width: 1200px;
}

@media (min-width: 1200px){
    .titulo-productos-comercializados{
        text-align: center;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        font-size: 2rem;    
    }

    .fila-productos div {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        padding-bottom: 5rem;
        padding-top: 3rem;
        max-width: 1400px;
    }

    div .items-fila {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

    .titulos-productos-filas {
        font-size: 1.7rem;
    }

    .container__img{
        width: 5rem;
    }
    

}

/* ---SECCION MEDIOAMBIENTE Y ENTREGAS--- */

.medioambiente-imagen {
    width: 100%;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 30px;
}

.medioambiente-parrafo {
    text-align: center;
    border: 0.1em solid #0b2a2c;
    border-width: auto;
}

h4 {
    padding: 1.5em;
}

.entregas-imagen {
    width: 100%;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 50px;
}

.entregas-parrafo {
    text-align: center;
    border: 0.1em solid #0b2a2c;
    border-width: auto;

}

@media (min-width: 1200px){
    .contenedor-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2,3fr);
        max-width: 1400px;
        justify-content: center;
        align-content: center;
        text-align: center;
        gap: 50px
    }

    .medioambiente-arbol{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .medioambiente-parrafo-estilos {
        display: flex;
        padding-top: 40px;
        max-height: 500px;
    }

    h4 .medioambiente-parrafo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .entregas-camion {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .entregas-parrafo-estilos {
        display: flex;
        padding-top: 40px;
        max-height: 1200px;
    }

    h4 .entregas-parrafo {
        display: flex;
    }
}