.preguntas-frecuentes {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #0e8388;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 50px;
    padding-top: 50px;
}

.pregunta-1 {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #ffffff;
    margin-top: 100px;
    margin-right: 800px;
    margin-left: 100px;
    border-radius: 15px;
    border-style: double;
}

.pregunta-2 {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #ffffff;
    margin-top: 100px;
    margin-left: 800px;
    border-radius: 15px;
    border-style: double;
}

.pregunta-3 {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #ffffff;
    margin-top: 100px;
    margin-right: 800px;
    margin-left: 100px;
    margin-bottom: 100px;
    border-radius: 15px;
    border-style: double;
}