/*--- SECCIÓN PREGUNTAS FRECUENTES ---*/

/*--- Titulo de la sección preguntas frecuentes ---*/

.preguntas-frecuentes {
    font-family: $fuente-principal;
    background-color: #0e8388;
    text-align: center;
    font-size: 3rem;
    margin-top: 2.5rem;
    padding-bottom: 50px;
    padding-top: 50px;
}

/*--- Tarjetas de preguntas ---*/

.card-preguntas {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 7rem;

    &__1 {
        font-family: $fuente-principal;
        @include config-tarjeta-preguntas();

        h3 {
            font-size: 1.5em;
            padding: 0.4em;
        }

        p {
            font-size: 1em;
            padding: 1em;
        }
    }

    &__2 {
        font-family: $fuente-principal;
        @include config-tarjeta-preguntas();

        h3 {
            font-size: 1.5em;
            padding: 0.4em;
        }

        p {
            font-size: 1em;
            padding: 1em;
        }
    }

    &__3 {
        font-family: $fuente-principal;
        @include config-tarjeta-preguntas();

        h3 {
            font-size: 1.5em;
            padding: 0.4em;
        }

        p {
            font-size: 1em;
            padding: 1em;
        }
    }
}

/*--- Vista tablet de la sección preguntas frecuentes ---*/

@media (min-width: 768px) {
    .card-preguntas {
        display: flex;
        flex-direction: column;
        padding: 2em;
        gap: 5rem;

        &__1 {
            font-family: $fuente-principal;
            @include config-tarjeta-preguntas();

            h3 {
                font-size: 4em;
                padding: 0.4em;
            }

            p {
                font-size: 2em;
                padding: 1em;
            }
        }

        &__2 {
            font-family: $fuente-principal;
            @include config-tarjeta-preguntas();

            h3 {
                font-size: 4em;
                padding: 0.4em;
            }

            p {
                font-size: 2em;
                padding: 1em;
            }
        }

        &__3 {
            font-family: $fuente-principal;
            @include config-tarjeta-preguntas();

            h3 {
                font-size: 4em;
                padding: 0.4em;
            }

            p {
                font-size: 2em;
                padding: 1em;
            }
        }
    }
}

/*--- Vista desktop de la sección preguntas frecuentes ---*/

@media (min-width: 1200px) {
    .contenedor-preguntas {
        display: flex;
        justify-content: center;

        .card-preguntas {
            display: flex;
            flex-direction: column;
            padding: 2em;
            margin-top: 5em;
            gap: 5rem;
            max-width: 1350px;

            &__1 {
                font-family: $fuente-principal;
                @include config-tarjeta-preguntas();

                h3 {
                    font-size: 3.5em;
                    padding: 0.4em;
                }

                p {
                    font-size: 1.5em;
                    padding: 1em;
                }
            }

            &__2 {
                font-family: $fuente-principal;
                @include config-tarjeta-preguntas();

                h3 {
                    font-size: 3.5em;
                    padding: 0.4em;
                }

                p {
                    font-size: 1.5em;
                    padding: 1em;
                }
            }

            &__3 {
                font-family: $fuente-principal;
                @include config-tarjeta-preguntas();

                h3 {
                    font-size: 3.5em;
                    padding: 0.4em;
                }

                p {
                    font-size: 1.5em;
                    padding: 1em;
                }
            }
        }
    }
}
