//---Titulo sección---//

.nuestros-productos {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #0e8388;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 35px;
    padding-top: 35px;
}

//---Container sección---//

.container-productos {
    display: flex;
    padding: 1em;
    padding-top: 3em;

    .list-group {
        font-family: $fuente-principal;
        font-size: 1.2em;
    }

    .container-articulos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
        padding-left: 3.5em;

        .card-articulo {
            justify-content: center;
            align-items: center;

            &__img {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__parrafo {
                text-align: center;
                font-size: 1.2em;
            }
        }
    }
}

//---Vista desktop---//

@media (min-width: 1200px) {
    .container-productos {
        display: flex;
        padding: 1em;
        padding-top: 3em;
    
        .list-group {
            font-family: $fuente-principal;
            font-size: 1.8em;
            width: 500px;
            padding-left: 1.8em;
        }
    
        .container-articulos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3em;
            padding-left: 8em;
    
            .card-articulo {
                justify-content: center;
                align-items: center;
    
                &__img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                &__parrafo {
                    text-align: center;
                    font-size: 1.5em;
                }
            }
        }
    }
}
