/*--- SECCIÓN PRODUCTOS ---*/

/*--- Titulo sección productos ---*/

.nuestros-productos {
    font-family: $fuente-principal;
    background-color: $background-titulos;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 35px;
    padding-top: 35px;
}

/*--- Container de los productos--- */

.container-productos {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 1em;
    padding-top: 3em;

    .card-lista {
        width: fit-content;

        .list-group {
            font-family: $fuente-principal;
            font-size: 1.2em;
        }
    }

    .container-articulos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3em;
        padding-left: 0.5em;
        padding-bottom: 5em;

        .card-articulo {
            justify-content: center;
            align-items: center;
            width: fit-content;

            &__img {
                @include flex();
                border: $borde-parrafos;
                width: fit-content;

                &__dimension {
                    width: 250px;
                    height: 200px;
                }
            }

            &__parrafo {
                text-align: center;
                font-size: 1.2em;
            }
        }
    }
}

/*--- Vista tablet de la sección productos ---*/

@media (min-width: 768px) {
    .container-productos {
        display: flex;
        justify-content: center;
        max-width: 100%;
        padding: 1em;
        padding-top: 3em;


        .list-group {
            font-family: $fuente-principal;
            font-size: 1.8em;
            width: auto;
            padding-left: 1.8em;
        }

        .container-articulos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5em;

            .card-articulo {
                width: fit-content;

                &__img {
                    @include flex();
                }

                &__parrafo {
                    text-align: center;
                    font-size: 1.4em;
                    padding-top: 1em;
                }
            }
        }
    }
}

/*--- Vista desktop de la sección productos ---*/

@media (min-width: 1200px) {
    .container-productos {
        display: flex;
        justify-content: center;
        max-width: 100%;
        padding: 1em;
        padding-top: 3em;


        .list-group {
            font-family: $fuente-principal;
            font-size: 1.8em;
            width: auto;
            padding-left: 1.8em;
        }

        .container-articulos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3em;
            padding-left: 2em;

            .card-articulo {
                justify-content: center;
                align-items: center;

                &__img {
                    @include flex();
                }

                &__parrafo {
                    text-align: center;
                    font-size: 1.4em;
                    padding-top: 1em;
                }
            }
        }
    }
}