.titulo-principal-productos {
    text-align: left;
    padding-left: auto;
    margin: auto;
    border-left: contain;
}

.nuestros-productos {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #0e8388;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 50px;
    padding-top: 50px;
}

.caja-contenedora {
    padding-left: 100px;
    padding-top: 100px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: justify, left;
    margin: 100px;
}

.primera-linea-productos {
    display: flex;
}

.primera-linea-imagenes {
    padding-top: 100px;
    margin: 100px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: end;
    font-size: 1.2rem;
    display: inline-block;
    justify-content: end;
    padding-left: 140px;
}

.segunda-linea-productos {
    display: flex;
}

.segunda-linea-imagenes {
    padding-top: 100px;
    margin-right: -320px;
    padding-bottom: 170px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: end;
    font-size: 1.2rem;
    display: inline-block;
    justify-content: end;
    padding-left: 680px;
}

.tercera-linea-productos {
    display: flex;
}

.tercera-linea-imagenes {
    padding-top: 100px;
    margin-right: -320px;
    padding-bottom: 170px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: end;
    font-size: 1.2rem;
    display: inline-block;
    justify-content: end;
    padding-left: 680px;
}

.cuarta-linea-productos {
    display: flex;
}

.cuarta-linea-imagenes {
    padding-top: 100px;
    margin-right: -300px;
    margin-bottom: 250px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: end;
    font-size: 1.2rem;
    display: inline-block;
    justify-content: end;
    padding-left: 690px;
}