.footer-main {
    background-color: #2c3333;
    color: white;
    font-weight: 600px;
}

.contenido-contacto-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenido-contacto-footer-items {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.horario-atencion {
    text-align: center;
    padding: 20px;
}

.footer-superior {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    border: 0.2em solid white;
}

.footer-contacto-contenido li a{
    color: white;
}

.footer-contacto-contenido {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 3em;
    gap: 20px;
}

.footer-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.footer-copyright {
    text-align: center;
    color: #aaaaaa;
    padding-bottom: 1px;
}

@media (min-width: 1200px) {
    .footer-superior {
        gap: 20em;
        font-size: 1.5em;
    }

    .footer-inferior {
        gap: 10em;
    }

    .footer-contacto-contenido{
        font-size: 1.5em;
    }

    .contenedor-mapa { 
        width: 700px;
        height: 200px;
    }

}