/*--- Footer ---*/

.footer {
    background-color: #2c3333;
    color: white;
    font-weight: 600px;
}

/*--- Parte de Arriba Footer---*/

.footer-superior {
    @include flex();

    .card-horario {
        padding: 3em;


        &__titulo {
            text-align: center;
            font-size: 1em;
        }

        &__parrafo {
            text-align: center;
            font-size: 1em;
        }
    }

    .card-contacto {
        padding: 3em;

        &__titulo {
            text-align: center;
        }

        &__lista {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__items {
            display: flex;
            flex-direction: row;
            font-size: 1em;
            gap: 5px;
        }
    }
}

/*--- Barra separadora footer--- */

hr {
    border: 0.2em solid white;
}

/*--- Parte de abajo Footer---*/

.footer-inferior {
    @include flex();

    .card-navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right: 3em;
        gap: 20px;

        li a {
            color: white;

            &:hover {
                color: rgb(66, 135, 192);
            }
        }
    }

    .card-mapa {
        @include flex();
        flex-direction: column;
        padding: 30px;

        &__titulo {
            text-align: center;
        }
    }
}

.footer-copyright {
    text-align: center;
    color: #aaaaaa;
    padding-bottom: 1px;
}

/*--- Vista Desktop Footer ---*/

@media (min-width: 1200px) {
    .footer-superior {
        gap: 10em;
        font-size: 1.5em;
    }

    .footer-inferior {
        gap: 10em;
    }

    .card-navbar {
        font-size: 1.5em;
    }

    .card-mapa__contenido {
        width: 700px;
        height: 200px;
    }

}