/*--- Navbar Header ---*/

.navbar {
    background-color: $background-principal;

    .nav-item {
        font-family: $fuente-principal;
        font-size: 1.5rem;

        .nav-link {
            color: #444444;

            &:hover {
                color: rgba(0, 0, 255, 0.658);
            }
        }
    }
}